@model IEnumerable<LTQL_1721050355.Models.NhaCungCap355>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NhaCungCap355</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tennhacungcap)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tennhacungcap)
        </td>
        <td>
            @Html.ActionLink("Thêm", "Edit", new { id=item.Manhacungcap }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.Manhacungcap }) |
            @Html.ActionLink("xoá", "Delete", new { id=item.Manhacungcap })
        </td>
    </tr>
}

</table>
